* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#logo-asphalt {
    margin-left: -20rem;
    width: 7rem ;
}

#color-on {
    color: #FD105E;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px ;
    background: #FD105E;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.section-one {
    background-color: black;
    padding: 4rem;
    color: white;
}

.section-one-container {
    margin-top: 2rem;
    display: flex;
}

.arrow-back img {
    width: 50%;
}

.title-container {
    margin-left: 10rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.section-two-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../assets/news-1.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.section-two-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../assets/news-2.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.section-three {
    background-color: black;
    padding: 20px;
}

.description {
    color: white;
    font-weight: 600;
    font-size: 19px;
    /* width: 80%; */
}